.navigation {
	margin-top: 36px;
}


button.paginate {
	border-radius: 3px;
	border: none;
	height: 35px;
	min-width: 35px;
	background: #4A4A4A;
	cursor: pointer;
	color: #fff;
	margin: 0 10px 10px 0;
	float: left;
}

button.paginate:hover, button.active {
	background: #747474;
}