header {
  line-height: 80px;
  background-color: #2B2B2B;
}

header a {
  color: #CDCDCD;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
header a:hover {
  color: #FFF;
}

header button {
  padding: 0 40px;
  height: 35px;
  background: #3071AD;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.header {
    white-space: nowrap;
  overflow: hidden;
}

.content {
  margin: 0 20em;

}

.nav {
  float: left;
}

.search {
  float: right;
}

.main {
  display: inline-block;
  width: 100%;
}
